body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:20px;
}
.app-container{
   padding:20px;
   text-align: center;
   width: 500px;
   box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
   border-radius: 8px;
   margin: 20px;
}
.app-container button{
  padding:10px;
  margin:10px;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
}